html,
body {
	height: 100%;
}

* {
	margin: 10px;
	padding: 10px;
}

input {
	width: 500px;
	border: 1px solid #ddd;
	height: 50px;
	padding: 0 20px;
	font-size: 14px;
}

.container {
	width: 500px;
}
  
.container input {
	clear: both;
}